Package: kubeadm
Pin: version {{ K8S_VERSION }}*
Pin-Priority: 1000
Package: kubelet
Pin: version {{ K8S_VERSION }}*
Pin-Priority: 1000
Package: kubectl
Pin: version {{ K8S_VERSION }}*
Pin-Priority: 1000